<div class="container mt-5">
    <div class="card ms-auto me-auto p-3 shadow-lg custom-card">
        <fa-icon [icon]="faUser" class="ms-auto me-auto user-icon"></fa-icon>
        <form #f="ngForm" (ngSubmit)="f.form.valid && login()">
            <div class="alert alert-danger" *ngIf="errorMessage">
                {{errorMessage}}
            </div>
            <div class="form-group">
                <label for="kullaniciadi">Username</label>
                <input type="text" id="kullaniciadi" name="kullaniciadi" class="form-control" required [(ngModel)]="kullanicilar.kullaniciadi" #kullaniciadi="ngModel">
                <div class="alert-danger" *ngIf="!kullaniciadi.valid && f.submitted">
                    Kullanıcı Adı Zorunludur
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required [(ngModel)]="kullanicilar.password" #password="ngModel">
                <div class="alert-danger" *ngIf="!password.valid && f.submitted">
                    Şifre Zorunludur
                </div>
            </div>

            <button type="submit" class="btn btn-success w-100 mt-3" style="background-color: #50A057;">
                Giriş Yap
            </button>
        </form>

        <a [routerLink]="['/register']" class="btn btn-link" style="color: darkgray;">
            Yeni Hesap Oluştur
        </a>
    </div>
</div>